body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 5em;
  align-items: center;
}

td, th{
  padding: 1em 5em;
}

th{
  background-color: rgb(6, 72, 134);
  color: white;
}
table, td, th {
  border: rgba(0, 0, 0, 0.315) 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

form{
  display: flex;
  flex-direction: column;
}

th{
  padding: 2em 0em;
}
