body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 5em;
  align-items: center;
}

td{
  padding: .5em 2em;
}

th{
  padding: 2em 0em;
}
