body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{

  display: flex;
  flex-direction: column;
  padding: 5em;
  align-items: center;
}

td, th{
  padding: 1em 5em;
}

th{
  background-color: rgb(6, 72, 134);
  color: white;
}
table, td, th {
  border: rgba(0, 0, 0, 0.315) 1px solid;
}

th{
  padding: 2em 0em;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
table {
  width: 100%;
  border-collapse: collapse;
}

form{
  display: flex;
  flex-direction: column;
}

label{
  padding: .3em 0em;
}

button{
  margin: 1em 0em;
  padding: .8em;
  border-radius: 15px;
  border: none;
  background-color: rgb(6, 72, 134);
  color: white;
  transition: all .5s ease;
}

button:hover{
  background-color: rgb(50, 117, 241);
}

input{
  padding: .8em;
  border-radius: 15px;
  border: none;
  width: 100%;
  background-color: #e9e9e9;
}

.search{
  width: 70%;
}